<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<div class="resulatdos">

</div>

<body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        $.ajax({
            url: `http://127.0.0.1:5000/user/140`,
            method: "GET",
            success: function (data) {
                data.forEach(user => {
                    // Use a propriedade innerHTML corretamente
                    document.querySelector(".resultados").innerHTML += `<ul><li>${user.nome}</li></ul>`;
                });
            },
            error: function (err) {
                console.log(err);
            }
        });

    </script>
</body>

</html>